*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(121, 97, 97);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 64%;
    background-color: rgb(92, 108, 66);
    background-image: url(https://images.unsplash.com/photo-1536924430914-91f9e2041b83?q=80&w=988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(57, 39, 39, 0.195);
}

}
#part3{
    height: 100%;
    width: 10%;
    /* background-color: rgb(73, 81, 126); */
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: rgb(195, 46, 46); */
    left: 10%;
    top: 45%;
    transform: translate(0, -50%);
}

#text-div>h1{
    font-size: 85px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -4px;
    font-weight: 900;
    line-height: 75px;
    color: white;
    text-transform: uppercase;
}
#small-img{
    height: 400px;
    width: 300px ;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1567226028173-20eb319d0bac?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI2fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

#vertical-text{
    position: absolute;
    right:-12%;
    top: 43%;
    transform-origin: 0% 0% ;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1{
    font-size: 60px;
    /* letter-spacing: 2px; */
    font-weight: 800;
    color:transparent;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    transform: rotate(90deg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

